Web/XML_ME/Webes_adatkezelo_kornyezetek/Mktjs0_0920/KovacsGergely_orarend.dtd

<!ELEMENT orarend (ora+)>
<!ELEMENT ora (kurzusnev, idopont, helyszin, oktato, szak)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST orarend xml:lang CDATA #REQUIRED>
<!ATTLIST ora id CDATA #REQUIRED>
<!ATTLIST ora tipus CDATA #REQUIRED>